/ {
	zephyr,user {
		io-channels = <&adc 0>, <&adc 1>, <&adc 2>, <&adc 3>,
			<&adc 4>, <&adc 5>, <&adc 6>, <&adc 7>;
	};
};

&wdt31 {
	status = "okay";
};

dmic_dev: &pdm20 {
    status = "okay";
};
